<header id="header" role="banner">
  <div class="header box">

    <a href="https://www.unt.edu" id="unt-brand" aria-label="Go to the main UNT website"><span class="hidden-button-text show-for-sr">University of North Texas</span></a>

    <div id="site-name">
      <div id="site-name-wrapper">
                  <span class="department-name">
            <a href="http://www.unt.edu" aria-label="Go to the University of North Texas website">University of North Texas</a>
          </span>

                  <h1 class="title site-name"><a href="">UNT History and Traditions</a></h1>
              </div>
    </div>
  </div>
  <div id="main-menu-container" role="navigation">
    <div class="box">
      <div class="the-main-menu">
          <div id="main-menu" class="main-menu hide-for-small" style="color: #fff;">
          Menu goes here
          </div>
      </div>
    </div>
  </div>
</header>
